<div class="row">
  <div class="col-md-12">
    <section id="parallax-1" class="bgParallax" data-speed="15">
      <div class="color-overlay black">
        <h3><span>Hot News:</span> <%= @most_new.title %></h3>
      </div>
    </section>
  </div>
</div>

<h2 class="heading">What's New</h2>
<div class="row">
  <div class="col-md-8 col-lg-8">
    <article class="post">
      <div class="post-type post-video">
        <!--<iframe src="https://player.vimeo.com/video/76566050?color=ffffff" width="500" height="320"></iframe>-->
      </div>
      <div class="author-info">
        <ul class="list-inline">
          <li>
            <div class="icon-box"><img src="assets/comment-thumbnail.png" class="img-responsive" alt="image post"/>
            </div>
            <div class="info">
              <p>Posted by:</p>
              <a href="author.html"><%= @most_new.user.name %></a>
            </div>
          </li>
          <li>
            <div class="icon-box"><i class="fa fa-calendar"></i></div>
            <div class="info">
              <p>Posted on:</p>
              <strong><%= @most_new.created_at.to_date.to_formatted_s :long %></strong></div>
          </li>
          <li>
            <div class="icon-box"><i class="fa fa-comments-o"></i></div>
            <div class="info">
              <p>Comments:</p>
              <strong><%= @most_new.comments.count %></strong></div>
          </li>
          <li>
            <div class="icon-box"><i class="fa fa-eye"></i></div>
            <div class="info">
              <p>Total View:</p>
              <strong><%= @most_new.visits %></strong></div>
          </li>
        </ul>
      </div>
      <div class="caption">
        <h3><%= link_to @most_new.title, @most_new %></h3>

        <p><%= @most_new.summary %></p>

        <div class="post-category">
          <% @most_new.categories.each do |c| %>
            <%= link_to c do  %>
                  <span>&nbsp;</span> <%= c.name %>
              <% end %>
          <%end%>
          <a href="#"></a>
        </div>
        <ul class="list-inline tags">
          <% @most_new.tags.each do |t| %>
            <li><%= link_to t.name %></li>
          <% end %>
        </ul>
        <%= link_to 'Read More', @most_new, :role => 'button', :class => 'btn btn-default btn-lg' %>
      </div>
    </article>
    <div class="clearfix"></div>
  </div>

  <aside class="col-md-4 col-lg-4">
    <div class="row">
      <div class="col-sm-6 col-md-12 col-lg-12">
        <div class="panel panel-default theme-panel">
          <div class="panel-heading">Recent Articles</div>
          <div id="recents-list" class="panel-body nopadding">
            <% @recents.each do |r|  %>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img src="assets/comment-thumbnail.png" alt="author"/>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><%= link_to r.title, r %></h4>
                  <p>
                    <% if r.categories.count > 0 %>
                        <%= link_to r.categories[0].name, posts_category_path(r.categories[0]) %> &bull;
                    <% end %>
                    <%= time_ago_in_words(r.created_at) %> ago
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <%= render 'layouts/categoriesWidget' %>

    </div>
  </aside>
</div>

<h2 class="heading">Travel</h2>
<div class="row">
  <div class="col-md-8 col-lg-8">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <article class="post">
          <!--<div class="post-type post-img">-->
            <!--<a href="#"><img src="assets/images/post/post-1.jpg" class="img-responsive" alt="image post"/></a>-->
          <!--</div>-->
          <div class="author-info author-info-2">
            <ul class="list-inline">
              <li>
                <div class="info">
                  <p>Posted by:</p>
                  <a href="author.html">Waqas Hussain</a>
                </div>
              </li>
              <li>
                <div class="info">
                  <p>Posted on:</p>
                  <strong>Mar 21, 2015</strong></div>
              </li>
            </ul>
          </div>
          <div class="caption">
            <h3 class="md-heading"><a href="#">The Heading Text Size Should Match</a></h3>

            <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

            <div class="post-category">
              <a href="#"><span>&nbsp;</span> Featured image</a>
            </div>
            <a class="btn btn-default" href="#" role="button">Read More</a>
          </div>
        </article>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <article class="post">
          <!--<div class="post-type post-img">-->
            <!--<a href="#"><img src="assets/images/post/post-2.jpg" class="img-responsive" alt="image post"/></a>-->
          <!--</div>-->
          <div class="author-info author-info-2">
            <ul class="list-inline">
              <li>
                <div class="info">
                  <p>Posted by:</p>
                  <a href="author.html">Waqas Hussain</a>
                </div>
              </li>
              <li>
                <div class="info">
                  <p>Posted on:</p>
                  <strong>Mar 21, 2015</strong></div>
              </li>
            </ul>
          </div>
          <div class="caption">
            <h3 class="md-heading"><a href="#">The Heading Text Size Should Match</a></h3>

            <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

            <div class="post-category">
              <a href="#"><span>&nbsp;</span> Featured image</a>
            </div>
            <a class="btn btn-default" href="#" role="button">Read More</a>
          </div>
        </article>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <aside class="col-md-4 col-lg-4">
    <div class="row">
      <div class="col-sm-6 col-md-12 col-lg-12">
        <div class="panel panel-default theme-panel">
          <div class="panel-heading">Search Post</div>
          <div class="panel-body">
            <form action="#" method="post">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                          </span>
              </div>
            </form>
          </div>
        </div>
      </div>

      <%= render 'layouts/archivesWidget' %>

    </div>
  </aside>
</div>

<h2 class="heading">Music</h2>
<div class="row">
  <div class="col-md-8 col-lg-8">
    <article class="post vt-post">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
          <!--<div class="post-type post-img">-->
            <!--<a href="#"><img src="assets/images/post/m1.jpg" class="img-responsive" alt="image post"/></a>-->
          <!--</div>-->
          <div class="author-info author-info-2">
            <ul class="list-inline">
              <li>
                <div class="info">
                  <p>Posted on:</p>
                  <strong>Mar 21, 2015</strong></div>
              </li>
              <li>
                <div class="info">
                  <p>Comments:</p>
                  <strong>127</strong></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
          <div class="caption">
            <h3 class="md-heading"><a href="#">The Heading Text Size Should Match</a></h3>

            <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              ullamcorper nulla non metus auctor fringilla. </p>
            <a class="btn btn-default" href="#" role="button">Read More</a>
          </div>
        </div>
      </div>
    </article>

    <article class="post vt-post">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
          <div class="post-type post-img">
            <a href="#"><img src="assets/images/post/m2.jpg" class="img-responsive" alt="image post"/></a>
          </div>
          <div class="author-info author-info-2">
            <ul class="list-inline">
              <li>
                <div class="info">
                  <p>Posted on:</p>
                  <strong>Mar 21, 2015</strong></div>
              </li>
              <li>
                <div class="info">
                  <p>Comments:</p>
                  <strong>127</strong></div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
          <div class="caption">
            <h3 class="md-heading"><a href="#">The Heading Text Size Should Match</a></h3>

            <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              ullamcorper nulla non metus auctor fringilla.</p>
            <a class="btn btn-default" href="#" role="button">Read More</a>
          </div>
        </div>
      </div>
    </article>

    <div class="pagination-wrap">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">Previous</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">17</a></li>
        <li class="active">
          <a href="#" aria-label="Next">
            <span aria-hidden="true">Next</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="clearfix"></div>
  </div>

  <aside class="col-md-4 col-lg-4">
    <div class="row">
      <%= render 'layouts/subscribeWidget' %>
      <%= render 'layouts/tagsWidget' %>
    </div>
  </aside>
</div>

<%= javascript_include_tag 'posts', 'data-turbolinks-track' => false %>